* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto;
  letter-spacing: 0.03em;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  list-style: none;
}

.list-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 30px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

a {
  text-decoration: none;
  -webkit-transition: color 250ms, cubic-bezier(0.4, 0, 0.2, 1), fill 250ms, cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms, cubic-bezier(0.4, 0, 0.2, 1), fill 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover {
  color: #2196F3;
}

a:hover svg {
  fill: #2196F3;
}

a:hover .icon {
  fill: #ffffff;
}

.img {
  max-width: 100%;
  display: block;
  height: auto;
}

.container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.container-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  width: 153px;
  margin-top: 15px;
  margin-right: 85px;
  color: #000000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-blue {
  color: #2196F3;
}

.logo-black {
  color: #000000;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  padding: 20px;
  text-align: center;
  font-size: 20px;
  background-color: #757575;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
  .menu-container.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    display: block;
  }
}

.contacts {
  margin-top: 20px;
  margin-left: 172px;
}

@media screen and (max-width: 767px) {
  .contacts {
    display: block;
    margin: 0;
  }
}

.site-nav .item {
  margin-right: 50px;
}

@media screen and (max-width: 768px) {
  .site-nav .item {
    margin-right: 0;
  }
}

.site-nav .item:last-child {
  margin-right: 0;
}

.site-nav .link {
  display: block;
  margin-top: 32px;
  margin-bottom: 32px;
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms, cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196F3;
}

.current {
  position: relative;
}

.current::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  left: 0;
  top: 32px;
  border-radius: 2px;
  background-color: #2196F3;
  -webkit-transition: opacity 250ms, cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms, cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

.current:hover::after,
.current:focus::after {
  opacity: 1;
}

.link-current:after {
  content: "";
  position: absolute;
  display: block;
  height: 4px;
  left: 0;
  top: 32px;
  border-bottom: 2px solid #2196F3;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .link-current:after {
    display: none;
  }
}

.contact {
  margin-right: 30px;
  margin-top: 32px;
  margin-bottom: 32px;
  color: #212121;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-style: normal;
  -webkit-transition: color 250ms, cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}

.contact:last-child {
  margin-right: 0;
}

.contact:hover,
.contact:focus {
  color: #2196F3;
}

.icon-mail,
.icon-tel {
  fill: #757575;
  margin-right: 5px;
  vertical-align: middle;
}

.section-hero {
  max-width: 1600px;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid black;
  background-color: #000000;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/Header.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/Header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 480px) {
  .section-hero {
    width: 480px;
    background-position: center;
  }
}

@media screen and (min-width: 768px) {
  .section-hero {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .section-hero {
    width: 1200px;
  }
}

.container-hero {
  margin: auto;
  max-width: 696px;
  text-align: center;
}

.hero-title {
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  display: inline-block;
  min-width: 200px;
  height: 50px;
  color: #ffffff;
  border: 1px solid #2196F3;
  border-radius: 4px;
  background-color: #2196F3;
  text-align: center;
}

.button.primary {
  color: #ffffff;
  background: #2196F3;
}

.button.secondary {
  color: #2196F3;
  background-color: #ffffff;
}

.backdrop {
  position: fixed;
  width: 1800px;
  height: 1024px;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  padding: 94px 15px;
  overflow-y: scroll;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: visible;
}

.form {
  padding: 40px;
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  position: relative;
}

@media screen and (min-width: 480px) {
  .form {
    max-width: 450px;
    height: 609px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 14%;
    -webkit-transform: translate(-50%, -14%);
            transform: translate(-50%, -14%);
  }
}

.close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
  cursor: pointer;
}

.icon-close {
  position: absolute;
  top: 0;
  left: 5px;
  -webkit-transform: translateY(30%);
          transform: translateY(30%);
}

.close:focus .icon-close {
  fill: #2196F3;
}

.form-title {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #212121;
  text-align: center;
}

.form-field {
  margin-bottom: 28px;
  position: relative;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #757575;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form-input {
  width: 100%;
  padding: 12px 18px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  color: #2196F3;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
  margin-left: -30px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.form-input:placeholder-shown {
  background-color: #ffffff;
}

.form-label:focus-within .form-input {
  outline: none;
  border-color: #2196F3;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  display: inline-block;
  width: 18px;
  height: 18px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #ffffff;
}

.form-input:focus ~ .form-icon {
  fill: #2196F3;
}

.field-textarea {
  position: relative;
  margin-bottom: 20px;
}

.form-textarea {
  position: absolute;
  top: 20%;
  left: 16px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #757575;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms;
  transition: transform 250ms, cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms, cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms;
}

.comment {
  width: 370px;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
}

.comment:focus + .form-textarea,
.comment:not(:placeholder-shown) + .form-textarea {
  color: #2196F3;
  -webkit-transform: translateY(-45px);
          transform: translateY(-45px);
  margin-left: 0;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.comment:placeholder-shown {
  background-color: #ffffff;
}

.form-textarea:focus-within .comment {
  border-color: #2196F3;
  outline: none;
}

.textarea {
  resize: none;
}

.label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkbox-box {
  position: relative;
}

.checkbox-text {
  font-size: 14px;
  line-height: 24px;
  margin-left: 20px;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-box {
  position: absolute;
  display: inline-block;
  width: 16px;
  height: 15px;
  top: 5px;
  left: 0;
  border: 1px solid black;
  border-radius: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox:checked + .icon-box {
  border-color: #2196F3;
  background-color: #2196F3;
  background-image: url(../images/iconcheck.svg);
  background-size: contain;
  background-origin: border-box;
}

.doc {
  color: #2196F3;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.form-button {
  margin-left: 100px;
  margin-top: 10px;
  cursor: pointer;
}

.container-mesedg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 94px;
  padding-bottom: 94px;
}

.list-mesedg {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mesedg {
  margin-right: 30px;
  margin-left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 480px) {
  .mesedg {
    width: 450px;
    margin: 15px;
  }
}

@media screen and (max-width: 768px) {
  .mesedg {
    width: 354px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .mesedg {
    width: calc((100% - 30px * 3) / 4);
  }
}

.mesedg:last-child {
  margin-right: 0;
}

.icon-mesedg {
  width: 270px;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
}

.section-title {
  width: 270px;
  text-align: left;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.section-text {
  width: 270px;
  text-align: left;
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.container-robota {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1200px) {
  .container-robota {
    display: none;
  }
}

.section-titles {
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .section-titles {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .section-titles {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .section-titles {
    width: 1200px;
  }
}

.program {
  width: calc((100% - 30px * 2) / 3);
  margin-right: 30px;
  margin-left: 0;
  position: relative;
}

.foto-program {
  width: 370px;
  height: 294px;
}

.program-cod {
  position: absolute;
  top: 294px;
  left: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.section-cod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 27px;
  margin-bottom: 27px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-comanda {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.list-comanda {
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fotos {
  margin-right: 30px;
  margin-left: 0;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 480px) {
  .fotos {
    width: 450px;
    margin: 15px;
  }
}

@media screen and (max-width: 768px) {
  .fotos {
    width: 354px;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .fotos {
    width: calc((100% - 30px * 3) / 4);
  }
}

.fotos:last-child {
  margin-right: 0;
}

.foto-name {
  width: 270px;
  height: 260px;
  margin-bottom: 30px;
}

.section-name {
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.section-tex {
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
}

.list-name {
  width: 206px;
  margin-bottom: 24px;
  margin-left: 32px;
}

.social-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 12px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover {
  background-color: #2196F3;
}

.icon {
  fill: #757575;
}

.container-client {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.client {
  width: 170px;
  margin-right: 30px;
  margin-left: 0;
  margin-bottom: 15px;
}

@media screen and (max-width: 480px) {
  .client {
    width: 210px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 15px;
  }
}

@media screen and (max-width: 768px) {
  .client {
    width: 226px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 1200px) {
  .client {
    width: 170px;
  }
}

.box-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90px;
  border: 0.1px solid #AFB1B8;
  border-radius: 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 60px;
  -webkit-transition: border 250ms, cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}

.box-icon:hover {
  border: 0.1px solid #2196F3;
  border-radius: 5%;
}

.icon-logo {
  fill: #757575;
}

.footer {
  color: #ffffff;
  background-color: #2F303A;
}

.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  border-bottom: 1px solid #ccc;
  margin-left: auto;
  margin-right: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 480px) {
  .page-footer {
    width: 480px;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer {
    width: 1200px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.logo-footer {
  display: block;
  width: 153px;
  margin-bottom: 20px;
}

.lis {
  list-style: none;
}

.footer-address {
  width: 231px;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.footer-contact {
  width: 231px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.inst {
  display: block;
  width: 206px;
  margin-left: 69px;
  margin-top: 72px;
}

.footer-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.insts {
  width: 145px;
}

@media screen and (max-width: 480px) {
  .insts {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.list-icons {
  margin-right: 10px;
}

.icons {
  background: rgba(255, 255, 255, 0.1);
  padding-left: 12px;
}

.forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 570px;
  height: 86px;
  margin-left: 94px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 1200px) {
  .forms {
    width: 1200px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.forms-mails {
  display: block;
}

.forms-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2F303A;
}

.mails {
  margin-bottom: 20px;
  padding-left: 0;
}

@media screen and (max-width: 480px) {
  .mails {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.submit {
  margin-top: 35px;
}

.buttons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 4px;
  padding: 10px 32px;
  max-width: 200px;
  height: 50px;
  margin-left: 12px;
  color: #ffffff;
  border: 1px solid #2196F3;
  background-color: #2196F3;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.icon-send {
  fill: #ffffff;
  margin-left: 10px;
}

.avtor {
  display: block;
  width: 310px;
  padding-top: 18px;
  padding-bottom: 21px;
  margin: auto;
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
  line-height: 2;
  text-align: center;
}

.container-work {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 93px;
  padding-bottom: 94px;
}

.wors {
  display: none;
}

.work-buttons {
  width: 611px;
  margin-bottom: 34px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 480px) {
  .work-buttons {
    width: auto;
  }
}

.list-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 15px 8px;
}

@media screen and (min-width: 480px) {
  .list-work {
    width: 362px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-bottom: 40px;
  }
}

.list-button {
  margin-right: 8px;
  margin-left: 0;
}

.work-button {
  min-width: 128px;
  height: 38px;
  margin-bottom: 15px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-button:hover,
.work-button:focus {
  color: #ffffff;
  background-color: #2196F3;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-element {
  width: 370px;
  height: 404px;
  margin: 15px;
  border: 1px solid #EEEEEE;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 480px) {
  .flex-element {
    width: 450px;
    margin: 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .flex-element {
    width: 354;
    margin: 15px;
  }
}

.product-foto {
  background-color: rgba(255, 255, 255, 0.4);
  overflow: hidden;
  position: relative;
}

.product-foto::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

.flex-element:hover .product-foto::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.product-overlay {
  position: absolute;
  padding-top: 63px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

.flex-element:hover .product-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.work-title {
  width: 322px;
  margin-top: 0;
  margin-bottom: 4px;
  margin-right: 24px;
  margin-left: 24px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2.0;
  letter-spacing: 0.06em;
  text-align: left;
}

.work-name {
  width: 322px;
  margin-top: 0;
  margin-bottom: 20px;
  margin-right: 24px;
  margin-left: 24px;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  text-align: left;
}

.text {
  width: 332px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 24px;
  margin-left: 24px;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  text-align: left;
}
/*# sourceMappingURL=main.css.map */