.container-client {
    margin-left: auto;
    margin-right: auto;
    text-align: $cen;
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients {
    display: $dis;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}

.client {
    width: 170px;
    margin-left: 0;
    margin-bottom: 15px;
    margin-right: 15px;

    @media screen and (max-width: $mobile) {
        width: 210px;
        margin: 15px;
    }
    @media screen and (max-width: $tablet) {
        width: 226px;
        margin-bottom: 15px;
    }
    @media screen and (max-width: $desktop) {
        width: 170px;
        margin-right: 15px;
    }
}

.box-icon {
    display: $dis;
    height: 90px;
    border: $border-client;
    border-radius: $br-5;
    align-items: center;
    padding-left: 60px;
    transition: border $timing, $timing-function;
}

.box-icon:hover {
    border: $border-cli;
    border-radius: $br-5;
}

.icon-logo {
    fill: $primary-text-color;
}