.container-comanda {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: $cen;
    padding-top: 94px;
    padding-bottom: 94px;

    @media screen and (min-width: $mobile) {
        width: $mobile;
    }

    @media screen and (min-width: $tablet) {
        width: $tablet;
    }

    @media screen and (min-width: $desktop) {
        width: $desktop;
    }
}

.comanda {
    width: 264px;
}

.fotos {
    width: calc((100% - 30px * 3) / 4);
    margin-right: 30px;
    margin-left: 0;
    box-shadow: $box-shadow-m;
}

.fotos:last-child {
    margin-right: 0;
}

.foto-name {
    width: 270px;
    height: 260px;
    margin-bottom: 30px;
}

.section-name {
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;


    color: $title-text-color;
    font-weight: $medium;
    font-size: 16px;
    line-height: 1.19;
    text-align: $cen;
}

.section-tex {
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;

    color: $primary-text-color;
    font-weight: $normal;
    font-size: 14px;
    line-height: 1.71;
    text-align: $cen;
}

.list-name {
    width: 206px;
    margin-bottom: 24px;
    margin-left: 32px;
}

.social-link {
    display: inline-flex;
    width: 44px;
    height: 44px;
    border-radius: $br-close;
    background-color: $primary-white-color;
    align-items: $cen;
    padding-top: 12px;
    transition: background-color $timing $timing-function;
}

.social-link:hover {
    background-color: $accent-color;
}

.icon {
    fill: $primary-text-color;
}