.container-mesedg {
    display: $dis;
    margin-left: auto;
    margin-right: auto;
    text-align: $cen;
    justify-content: space-between;
    padding-top: 94px;
    padding-bottom: 94px;
}

.mesedg {
    width: calc((100% - 30px * 3) / 4);
    margin-right: 30px;
    margin-left: 0;
    justify-content: $cen;
    align-items: $cen;
}

.mesedg:last-child {
    margin-right: 0;
}

.icon-mesedg {
    width: 270px;
    height: 120px;
    background: $bg-mesedg;
    border-radius: $br-4;
    padding-top: 25px;
    padding-bottom: 25px;
}

.section-title {
    width: 270px;
    text-align: left;
    margin-bottom: 10px;
    
    color: $title-text-color;
    font-weight: $bold;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.section-text {
    width: 270px;
    text-align: left;

    color: $primary-text-color;
    font-weight: $normal;
    font-size: 14px;
    line-height: 1.71;
}