.container-header {
    display: $dis;
    align-items: $cen;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    @media screen and (min-width: $mobile) {
        width: $mobile;
    }
    @media screen and (min-width: $tablet) {
        width: $tablet;
    }
    @media screen and (min-width: $desktop) {
        width: $desktop;
    }
}

.container-nav {
    display: $dis;
    align-items: $bas;
}
