.container-header {
    display: $dis;
    align-items: $cen;
    margin-left: auto;
    margin-right: auto;
    position: $pos-r;
}

.container-nav {
    display: $dis;
    align-items: $bas;
    justify-content: space-between;
}
