.menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;

    @media screen and (min-width: $mobile) {
        display: none;
    }
}

.menu-button .icon-close {
    display: none;
}

.menu-button.is-open .icon-close {
    display: block;
}

.menu-button.is-open .icon-menu {
    display: none;
}

.menu-container {
    display: $dis;
    align-items: $bas;
    margin: auto;
   
    @media screen and (min-width: $mobile) {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    }  
}




