.menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: greenyellow;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.menu-button .icon-cross {
    display: none;
}

.menu-button .is-open .icon-cross {
    display: block;
}

.menu-button .is-open .icon-menu {
    display: none;
}

.menu-container {
    @media screen and (max-width: 767px) {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 20px;
        text-align: center;

        &.is-open {
            display: block;
        }
    }

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
    }
}

.navigation, .contactss {
    height: 240px;
    width: 50px;
    
}

.navigation {
    outline: 1px solid red;
}

.contactss {
    outline: 1px solid black;
}

