.container-work {
    margin-left: auto;
    margin-right: auto;
    text-align: $cen;
    padding-top: 93px;
    padding-bottom: 94px;
}

.wors {
    display: none;
}

.work-buttons {
    width: 611px;
    margin-bottom: 34px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: $mobile) {
        width: auto;
    }
}

.list-work {
    display: flex;
    flex-wrap: wrap;
    margin: 15px 8px;

    @media screen and (min-width: $mobile) {
        width: 362px;
        flex-wrap: nowrap;
        margin-bottom: 40px;
    }
}

.list-button {
    margin-right: 8px;
    margin-left: 0;
}

.work-button {
    min-width: 128px;
    height: 38px;
    margin-bottom: 15px;

    color: $title-text-color;
    font-weight: $medium;
    font-size: 16px;
    line-height: 1.62;
    text-align: $cen;
    border: none;
    cursor: pointer;
    transition: background-color $timing $timing-function color $timing $timing-function;
}

.work-button:hover,
.work-button:focus {
    color: $primary-white-color;
    background-color: $accent-color;
}